*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
    text-decoration: none;
    list-style: none;
}
body{
    background-image: url(https://cdn.shopify.com/s/files/1/0110/3911/3312/files/plant-hero-2.jpg?v=1564008913) scroll no-repeat center/cover;
    background-repeat: no-repeat;
    display: grid;
    place-items: center;
    color: #fff;
}
nav{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 15%;
    background: transparent;
    transition: all .50s ease;
}
.logo{
    color: #fff;
    font-size: 35px;
    font-weight: 700;
    cursor: pointer;
}
.navlist{
    display: flex;
}
.navlist a{
    margin: 0px 5px;
    padding: 5px 10px;
    color: #d6d6d6;
    font-size: 16px;
    font-weight: 500;
    transition: all .50s ease;
    white-space: nowrap;
}
.navlist a:hover{
    color: #fff;
}
.navlist a:after{
    content:"";
    position: absolute;
    bottom: -5px;
    height: 4px;
    width: 100%;
    left: 0;
    background-color: #fff;
    transition: 0.3s;
    transition-timing-function: ease-in-out;
    transform: scaleX(0)
}
.navlist a:hover:after{
    transform: scaleX(1)
}
.btn  {
    margin: 0px 5px;
    padding: 5px 10px;
    color: #d6d6d6;
    font-size: 16px;
    font-weight: 500;
    transition: all .50s ease;
    white-space: nowrap;
    
}
.btn{
    display: inline-block;
    padding: 12px 30px;
    color: #fff;
    background: #d3d4d4;
}
.btn :hover{
    
    border: 2px solid #f9faf9;
    background: transparent;
}
#menu-icon{
    color: #fff;
    font-size: 38px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}
section{
    padding: 0 15%;
}
.hero{
    height: 100vh;
    width: 100%;
    background-image: Linear-gradient(to right, rgba(0,0,0,0.1), rgba(0,0,0,0.3)), url(https://cdn.shopify.com/s/files/1/0110/3911/3312/files/plant-hero-2.jpg?v=1564008913);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.main-text h1{
    font-size: 90px;
    font-weight: 800;
    mask-border: 5px;
}
.main-text p{
    font-size: 30px;
    font-weight:600;
}

@media (max-width: 1350px){
    nav{
        padding: 20px 5%;
    }
    section{
        padding: 0px 5%
    }
}

@media (max-width: 950px){
    .main-text h1{
        font-size: 70px;
    }
    .main-text p{
        font-size: 22px;
    }
    .logo{
        font-size: 30px;
    }
    .btn{
        padding: 9px 27px;
    }
}
    
@media (max-width: 860px){
    #menu-icon{
        display: block;
    }
    .navlist{
        position:absolute;
        top: -800px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background: #d3d4d4;
        transition: all .50s ease;
        text-align: left;
    }
    .navlist a{
        color: #fff;
        padding: 1rem;
        border-left: 2px solid #fff;
        margin: 1rem;
        display: block;
    }
    .navlist a:hover{
        background: transparent;
        color: #9d9d9d;
    }
    .navlist.open{
        top: 100%;
    }
}

@media (max-width: 750px){
    .main-text h1{
        font-size: 50px;
    }
}

.wrapper {
    margin: 150px auto;
    width: 70%;
}
img {
    max-width:680px;
    float: left;
    border: 5px solid #fff;
    border-radius: 10px;
}

.text-box {
    color: #fff;
    float: right;
}

.text-box h2 {
    font-size: 35px;
    float: right;
}

.text-box h3 {
    font-size: 22;
    float: right;
}

.fade-in {
    opacity: 0;
    transition: opacity 250ms ease-in;
}

.fade-in.appear {
    opacity: 1;
}